[Unit]
Description=DHCP Server for wlan
After=syslog.target network.target

[Service]
ExecStartPre=/bin/touch /var/lib/dhcp/dhcpd-wlan.leases
ExecStart=/usr/sbin/dhcpd -d -q -cf /etc/dhcpd-wlan.conf -lf /var/lib/dhcp/dhcpd-wlan.leases -pf /var/lib/dhcp/wlan.pid wlan0

[Install]
WantedBy=multi-user.target
